{{- define "main" -}}
    {{ partial "nav.html" (dict "nav_white" 1) }}

    <div class="row justify-content-center page-section px-3 px-md-5" style="padding-top: 6.5rem;">
        <h2 class="text-center text-primary fw-lighter">
            Study <span class="fw-bold">resources</span>.
        </h2>
        <hr class="divider my-4"/>

        <div class="text-center">{{ .Content }}</div>

        <ul id="resourceNav" class="nav nav-tabs mt-2">
            {{ $first := true }}
            {{ range site.Data.resources }}
                <li class="nav-item">
                    <a class="nav-link {{ if $first }} active {{ end }}" data-bs-toggle="tab"
                       href="#{{ crypto.MD5 .section_name }}">
                        {{ .section_name }}
                    </a>
                </li>
                {{ $first = false }}
            {{ end }}
        </ul>

        <div class="tab-content">
            {{ $fileLink := "https://drive.google.com/file/d/%s/view?usp=drive_link" }}
            {{ $firstTab := true }}
            {{ range site.Data.resources }}
                <div class="tab-pane container px-0 fade {{ if $firstTab -}} show active {{- end -}}"
                     id="{{ crypto.MD5 .section_name }}">
                    {{ $firstGroup := true }}
                    {{ range .groups }}
                        <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 pb-1 mb-2">
                            <h6 class="text-uppercase mb-0 mb-sm-2">
                                - {{ .group_name }} -
                            </h6>
                            <a href="{{ .folder_link }}" target="_blank" class="text-muted ms-auto">View more...</a>
                        </div>
                        <div class="d-grid gap-4 pb-2 gallery-grid">
                            {{ range .file_ids }}
                                {{ $filename := index site.Data._resources_mapping . }}
                                {{ $randomHue := mod (int (printf "0x%s" (substr (crypto.MD5 .) 0 5))) 360 }}
                                <div class="col">
                                    <a class="text-decoration-none" href="{{ printf $fileLink . }}" target="_blank">
                                        <div class="card border-1 rounded-0">
                                            <div class="card-body d-flex flex-column justify-content-center align-items-center"
                                                 style="--hue: {{ $randomHue }};">
                                                <div class="text-center thumbnail"
                                                     style="height: 70%; --thumbnail: url('{{ absURL (printf "resources/%s.png" .) }}');">
                                                </div>
                                                <div class="mt-4" style="height: 30%;">
                                                    <h6 class="card-subtitle text-body-secondary clamp"
                                                        style="--clamp: 3;" title="{{ $filename }}">
                                                        {{ $filename }}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {{ end }}
                        </div>
                        {{ $firstGroup = false }}
                    {{ end }}
                </div>
                {{ $firstTab = false }}
            {{ end }}
        </div>
    </div>

    <!--suppress CssNonIntegerLengthInPixels -->
    <style>
        #resourceNav *.active {
            color: var(--bs-primary) !important;
            font-weight: 600;
        }

        .gallery-grid {
            --col: 2;
            grid-template-columns: repeat(var(--col), minmax(0, 1fr));
        }

        .thumbnail {
            width: 75%;
            box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.45);
            background: var(--thumbnail), url("{{ absURL "default-thumbnail.png" }}");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
        }

        .card-body {
            height: 230px;
            background: linear-gradient(to bottom, hsl(var(--hue), 40%, 90%) 0 40%, #fff 40% 100%);
        }

        .card:hover, .card:focus {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }

        /* Extra breakpoints */
        @media (max-width: 399.98px) {
            .gallery-grid {
                --col: 1;
            }

            .gallery-grid .card {
                height: 260px;
                margin-left: min(1rem, 18px);
                margin-right: min(1rem, 18px);
            }

            .thumbnail {
                width: 55%;
            }
        }

        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {
            .gallery-grid {
                --col: 3;
            }

            .thumbnail {
                width: 80%;
            }
        }

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            .gallery-grid {
                --col: 4;
            }

            .thumbnail {
                width: 82%;
            }
        }

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            .gallery-grid {
                --col: 5;
            }
        }

        /* X-Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            .gallery-grid {
                --col: 6;
            }
        }

        /* XX-Large devices (larger desktops, 1400px and up) */
        @media (min-width: 1400px) {
            .gallery-grid {
                --col: 7;
            }
        }
    </style>
    {{ partial "footer.html" }}
{{- end -}}