{{- define "main" -}}
    {{ partial "nav.html" (dict "nav_white" 1) }}

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

    <section style="padding-top: 6.5rem" class="mb-5">
        <div class="container">
            <h2 class="text-center text-primary fw-lighter">Our <span class="fw-bold">projects</span>.</h2>
        </div>
    </section>
    <hr class="divider my-4"/>

    {{/* Filter projects base on status (Ongoing/complete) - disabled since there arent many projects yet.
    <section class="container">
      <div class="d-flex justify-content-center mb-4">
          <select class="form-select project-filter text-primary" id="category-filter">
              <option value="all">All</option>
              <option value="Completed">Completed</option>
              <option value="Ongoing">Ongoing</option>
          </select>
      </div>
    </section>  
    */}}

    <section class="container mb-5">
        <div class="row" data-masonry='{"percentPosition": true }' style="position: relative">
            {{ range .Pages }}
                <div class="col col-12 col-md-6 col-lg-4">
                    <div class="card mb-4">
                        <div id="project" data-category="{{ .Params.status }}">
                            <span class="position-absolute ml-auto px-1 py-1 rounded border-1 fs-6 status" style="top: 0.75rem; right: 1.2rem;">{{ .Params.status }}</span>
                            <div class="rounded" style="background-color: #ecf2f5; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                                <div class="d-flex justify-content-center cover-image rounded-top" style='height: 200px; background-image: url("{{ absURL .Params.coverImage  }}");'></div>
                                <div class="p-4">
                                    <div class="mb-4">
                                        <p>{{ .Date.Format "2 Jan 2006" }}</p>
                                        <h2 class="fw-bold" style="font-size: 1.6rem">{{ .Title }}</h2>
                                        <p>{{ .Params.subtitle }}</p>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary rounded text-white px-4 py-2" type="button" href="{{ absURL .Permalink }}" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </section>

    {{ partial "footer.html" }}
    {{ with resources.Get "projects.css" | postCSS | minify }}
        <link rel="stylesheet" href="{{ .Permalink }}" />
    {{ end }}

    <script>
        {{/*  Filter projects base on status (Ongoing/complete) - disabled since there arent many projects yet.
        document.getElementById("category-filter").addEventListener("change", function () {
            let selectedStatus = this.value;
            let projects = document.querySelectorAll("#project");
          
            projects.forEach(function (project) {
                if (selectedStatus === "all" || project.getAttribute("data-category") === selectedStatus) {
                    project.style.display = "";
                } else {
                    project.style.display = "none";
                }
            });
        });  
        */}}
    </script>
{{- end -}}
