<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="auto" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <title>{{ site.Title }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ absURL "icons/apple-icon-57x57.png" }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ absURL "icons/apple-icon-60x60.png" }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ absURL "icons/apple-icon-72x72.png" }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ absURL "icons/apple-icon-76x76.png" }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ absURL "icons/apple-icon-114x114.png" }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ absURL "icons/apple-icon-120x120.png" }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ absURL "icons/apple-icon-144x144.png" }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ absURL "icons/apple-icon-152x152.png" }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ absURL "icons/apple-icon-180x180.png" }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ absURL "icons/android-icon-192x192.png" }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ absURL "icons/favicon-32x32.png" }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ absURL "icons/favicon-96x96.png" }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ absURL "icons/favicon-16x16.png" }}">
    <link rel="manifest" href="{{ absURL "icons/site.webmanifest" }}">
    <meta name="msapplication-TileColor" content="#c3e1d7">
    <meta name="msapplication-TileImage" content="{{ absURL "ms-icon-144x144.png" }}">
    <meta name="theme-color" content="#c3e1d7">

    {{ $options := (dict "targetPath" "app.css" "includePaths" (slice "node_modules")) -}}
    {{ $css := resources.Get "app.scss" | resources.ToCSS $options -}}
    <link rel="stylesheet" href="{{ $css.Permalink }}"/>
</head>

<body>
{{- block "main" . -}}
{{- end -}}

<script src="{{ absURL "bootstrap/js/bootstrap.bundle.min.js" }}"></script>
</body>
</html>
