@import "app";

nav {
  background-color: $background;
}

#donate-btn:hover {
  color: $primary;
  // `$primary` color, not able to specify `a` without knowing its RGB
  background-color: rgba(9, 114, 118, 0.15);
}
