.project-tag {
    top: 0.75rem;
    right: 0.75rem;
}

.project-card {
    background-color: #ecf2f5;
}

.project-cover {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 576px) {
  .register-btn {
    font-size: 0.9rem;
    width: 50%;
    right: 10%;
    bottom: 10%;
  }
}
