.project-tag {
    top: 0.75rem;
    right: 0.75rem;
}

.project-card {
    background-color: #ecf2f5;
}

.project-cover {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
