<footer class="p-3 pt-0 d-grid text-body-secondary bg-body-tertiary gap-1 fw-normal">
    <div class="row justify-content-center text-center py-4">
        <div class="col col-4 lh-lg">
            <span class="text-primary fw-bold fs-6">General Inquiries</span><br>
            <a class="page-link text-decoration-underline" href="mailto:tutors.in.action.malaysia@gmail.com">
                tutors.in.action.malaysia@gmail.com
            </a>
        </div>
        <div class="col col-4 lh-lg">
            <span class="text-primary fw-bold fs-6">
                Collaboration & Sponsorships
            </span><br>
            <a class="page-link text-decoration-underline" href="mailto:outreach@tutors-in-action.org">
                outreach@tutors-in-action.org
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-3">
        {{ range site.Params.socials }}
        <a class="text-body-secondary" href="{{ index . 1 }}">
            <div class="d-flex justify-content-center align-items-center border-1 social-btn">
                <img src="{{ index . 0}}" alt="icon">
            </div>
        </a>
        {{ end }}
    </div>
    <div class="text-center">
        Persatuan Pelajar Bantu Pelajar Malaysia (PPM-007-14-12102022) © 2024 - All rights reserved.
    </div>
</footer>

<style>
    .social-btn {
        border-style: solid;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }

    .social-btn:hover {
        background-color: var(--bs-gray-300);
    }

    a.page-link:hover {
        color: var(--bs-gray-600);
    }

    img[alt=icon] {
        opacity: 0.7;
    }
</style>