{{- define "main" -}}
<div class="d-flex justify-content-center align-items-center vh-100">
    <img src="/svgs/clipart-404.svg" alt="clipart" height="200" width="200">
    <div class="ms-4">
        <h2>Page not found.</h2>
        <p style="max-width: 25rem;">
            The page you are looking for might have been removed, or it's temporarily unavailable.
        </p>
        <a href="/">
            <button class="btn btn-primary text-uppercase mt-2 rounded-0" type="button">
                Back to homepage
            </button>
        </a>
    </div>
</div>
{{- end -}}